# dependencies
node_modules/

# builds
dist/
build/
out/
release/
.cache/

# electron-packager / electron-builder output
*.exe
*.dmg
*.AppImage
*.zip

# logs
*.log

# env files
.env

# vscode
.vscode/

# OS junk
.DS_Store
Thumbs.db
oldMain.js
